langchain==0.0.273
pinecone-client==2.2.1
Flask
openai==0.27.8
gunicorn
Pydantic==1.10.9
unstructured==0.10.5
flask-cors
tiktoken
psycopg2
tqdm
Flask-Session
Flask-SQLAlchemy==2.5.1
flask_login
celery==5.1.2
APScheduler
Flask-Caching
fpdf2
Werkzeug==2.0.1
python-docx
redis
Flask-Migrate==2.7.0
PyPDF2
pypdfium2
SQLAlchemy==1.4.22
psycopg2-binary==2.9.3
memory-profiler



